.wrapper {
  max-width: 100vw;
  max-height: 100vh;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 30vw 1fr;
}

.listItemsContainer {
  border-right: 1px solid #1d56fd;
  max-height: 100%;
  overflow-y: auto;
  min-width: 300px;
}

.descriptionItemContainer {
  background: rgb(215, 237, 255);
  background: radial-gradient(
    circle,
    rgba(215, 237, 255, 1) 0%,
    rgba(255, 255, 255, 1) 43%,
    rgba(255, 255, 255, 1) 100%
  );
  display: grid;
  overflow-y: auto;
}

.cardItemContainer {
  height: 80px;
  margin: 0 !important;
  padding: 0 !important;
  display: grid !important;
  grid-template-columns: 90% 10%;
}

.removed_cart_item {
  /*opacity: 0.4;*/
}

.removed_cart_item:hover {
  background-color: initial;
}

.cardItemContainer_info {
  padding: 0 !important;
  display: grid !important;
  justify-content: start !important;
  text-align: start !important;
  margin-left: 1vw !important;
  grid-template-rows: repeat(3, 1fr);
}


.cardItemContainer_info span span{
  max-height: 25px;
}

.cardItemContainer_remove input{
  margin: 0;
  padding: 0;
  justify-self: center;
}

.descriptionItemContainer {
  display: grid;
  width: 95%;
  grid-template-columns: 30% 70%;
  justify-items: center;
}

.descriptionItemContainer_name_and_avatar{
  grid-template-rows: 20vw 50px 1fr;
  justify-items: center;
}

.descriptionItemContainer_avatar {
  min-width: 15vw;
  min-height: 15vw;
  margin-top: 4vw;
}

.descriptionItemContainer h5 {
  margin-top: 1vw;
}

.descriptionItemContainer_bio {
  margin-top: 4vw;
  text-align: center;
}

.descriptionItemContainer_choose_item,
.descriptionItemContainer_choose_another_item{
  margin-top: 15vw !important;
  text-align: center;
}

@media (max-width: 1280px) {
  .descriptionItemContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 30vw 1fr;
    justify-self: center;
    font-size: 12px !important;
  }
  .cardItemContainer_info span span{
    font-size: 12px;
  }
  .cardItemContainer_info span span:last-child{
    font-size: 10px;
  }
}

@media (max-width: 1024px) {
  .wrapper {
    grid-template-columns: 300px 1fr;
  }
  .descriptionItemContainer {
    grid-template-rows: 40vw 1fr;
  }
  .descriptionItemContainer_name_and_avatar{
    grid-template-rows: 30vw 50px 1fr;
  }
  .descriptionItemContainer_avatar {
    min-width: 25vw;
    min-height: 25vw;
  }
}

@media (max-width: 800px) {
  .descriptionItemContainer {
    grid-template-rows: 45vw 1fr;
  }
}

@media (max-width: 640px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .descriptionItemContainer {
    grid-template-rows: 50vw 1fr;
  }
  .descriptionItemContainer_name_and_avatar{
    grid-template-rows: 35vw 40px 1fr;
  }
  .descriptionItemContainer_avatar {
    min-width: 30vw;
    min-height: 30vw;
  }
}

@media (max-width: 440px) {
  .descriptionItemContainer {
    grid-template-rows: 65vw 1fr;
  }
  .descriptionItemContainer_name_and_avatar{
    grid-template-rows: 45vw 30px 1fr;
  }
  .descriptionItemContainer_avatar {
    min-width: 40vw;
    min-height: 40vw;
  }
}
